<section>
  <div class="wrap">
    <h2 class="title-section">Відновлення паролю</h2>
    <div class="form-wrapper">

      <form class="form" action="/auth/password" method="POST">
        <input type="hidden" name="_csrf" value="{{ @root.csrf }}" />
        <input type="hidden" name="userId" value="{{ userId }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <input name="password" id="password" type="password" placeholder="Пароль" required>
        <input name="confirm" id="confirm" type="password" placeholder="Повтор пароля" required>
        <button type="submit" class="button buy">
          <div class="transition-06 button-content">
            Оновити пароль
          </div>
        </button>
      </form>
    </div>
  </div>
</section>

{{#if error}}
<div class="notify error">
  <p>{{ error }}</p>
</div>
{{/if}}

{{#if success}}
<div class="notify success">
  <p>{{ success }}</p>
</div>
{{/if}}